---
layout: layout.liquid
title: User Picture Display
---

<h1 class="text-2xl tracking-wide">Click to see user's avatar!</h1>
<div x-data="{userImg: $fetchjson('https://dummyjson.com/users/1', jsonItem='image')}">
    <div class="flex items-center justify-center">
    <img alt="thumbOne" id="hiddenImg" x-bind:src="userImg" style="display:none;" />
    </div>
</div>
<button class="object-center bg-red-700 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-full border-black-1000" id="showImg">Show me!</button>

<script>
    function displayHTML(string) {
        const mainName = document.getElementById('userName');
        mainName.innerHTML = `<h1 id="nameHead" class="tracking-wider text-2xl text-red-700 not-italic hover:italic"></h1>`;
        document.getElementById('nameHead').textContent = string;
    }
    fetch('https://dummyjson.com/users/1')
        .then(res => res.json())
        .then(json => displayHTML(json.firstName))


    const showImageButton = document.getElementById("showImg");
    const oneImg = document.getElementById("hiddenImg"); 
    showImageButton.addEventListener("click", () => { 
        oneImg.style.display = "block"; 
    });

</script>
